<div> <h2>Welcome to Data Binding Project</h2>
  <h2>Interpolation Binding </h2>
    <h3>firstName:{{firstName}}<br>
  LastName:{{lastName}}<br>
  Age:{{age}}<br>
  Receive News Letter:{{receiveNewsLetter}}<br>
  Gender:{{gender}}<br>
  Country:{{country}}<hr></h3>
</div>
<div>
  <h2>Property Binding </h2>
  <a [href]="address">Click Here</a><hr>
</div>

<div>
  <h2>Two Way Binding </h2>
firstName<input type="text"  [(ngModel)]="firstName"/><br>
LastName<input type="text"  [(ngModel)]="lastName"/><br>
Age<input type="text"  [(ngModel)]="age"/><br>
Receive News Letter<input type="checkbox"  [(ngModel)]="receiveNewsLetter"/><br>


Gender:<br>
<input type="radio"  [(ngModel)]="gender" value="Male"/>Male
<input type="radio"  [(ngModel)]="gender" value="Female"/>Female<br>

</div>
<h2>event Binding </h2>
<input type="button" value="ChangeData" (click)="changeData()">
