<div>
<form>
<h4>Registration  Form</h4><br>
UserName:<input type="text" [(ngModel)]="userName" name="username"><br><br><br>
password:<input type="password" [(ngModel)]="password" name="password"><br><br><br>
confirmpassword:<input type="password" [(ngModel)]="confirmPassword" name="confirmpassword"><br><br><br>
<input type="checkbox" [(ngModel)]="acceptlicenceagreement" name="acceptlicenceagreement">
i accept licence agreement<br>
Gender:
<input type="radio" [(ngModel)]="gender" value="male" name="gender">Male
<input type="radio" [(ngModel)]="gender" value="female" name="gender">FeMale<br><br>
Country:
<select [(ngModel)]="country" name="country" >
<option value="please select ">Please select </option>
<option value="india">India</option>
<option value="uk">UK</option>
<option value="s">US</option>
</select>
<input type="submit" value="register"   (click)="checkLogin()"><br><br><br>

{{msg}}
</form> 

</div>